html{
	font-size: 16px;
	background: #1D1F20;
	font-family: 'Exo', sans-serif;

}

/*shiled*/
.shield {
	width: 17rem;
	height: 17rem;
	background: #E8E6E7;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border:solid #AD3332 2rem;
	margin: 2rem auto 0 auto;
}

/*container estrella*/
.shiel_container {
	background: #355675;
	width: 8.5rem;
	height: 8.5rem;
	border-radius: 50%;
	border: solid #AD3332 2rem; 
}
/*estrella*/
.container_star,
.container_star::before,
.container_star::after {
	border-color: transparent transparent #fff transparent;
	border-width: 0 4rem 2.5rem 4rem;
	border-style: solid;
	position: absolute;
	transform: rotate(180deg);
	margin-top: 2.75rem;
	margin-left: 0.25rem;

}
.container_star::before {
	content: '';
	margin-top:  -0.15rem;
	margin-left: -4.3rem;
	transform: rotate(70deg);
}

.container_star::after {
	content: '';
	margin-top: -0.29rem;
	margin-left: -3.87rem;
	transform: rotate(-70deg);
}
.shield-text {
	color: #FFF;
	text-align: center;
	font-size: 2rem;
}